@font-face {
  font-family: mulish;
  src: url('../font/Mulish-VariableFont_wght.ttf');
}

@font-face {
  font-family: aboda;
  src: url('../font/ArodoraPro-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: niko;
  src: url('../font/NicoMoji-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blue: #00C4F0;

body{

}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

@import "header";
@import "home";
@import "skills";
@import "aboutme";